#nav {

  width: 500px;
  height: 60px;
  align-items: center;
  margin: 0 auto;
}

.nav-link {
  justify-content: center;
  font-size: 30px;
}

.nav-header {
  background: rgb(38, 199, 204);
  width: 100%;
  height: 60px;
}